[task_config]
includes = [".config/mise-lib/virtual_tasks.toml", ".config/mise-lib"]

[env]
VERSION = "${MORTENLJ_MISE_LIB_CLEAN_VERSION:-0.1.0+develop}"

[settings]
env_shell_expand = true

[tools]
python = "3.11"
uv = "latest"

[tasks.test]
depends = ["python:test"]
description = "Run tests"

[tasks.fmt]
depends = ["python:fmt"]
description = "Format source"

[tasks.fmt-check]
depends = ["python:fmt-check"]
description = "Check formatting"

[tasks.lint]
depends = ["python:lint"]
description = "Lint the project"

[tasks.lint-fix]
depends = ["python:lint-fix"]
description = "Run lint fixers"

[tasks.ci]
depends = ["test", "fmt-check", "lint"]
description = "Run CI tasks"

[tasks.build]
depends = ["python:build"]
description = "Build the project in debug mode"
sources = ["homely_mqtt/**/*.py", "ibidem/**/*.py", "src/**/*.py", "uv.lock", "pyproject.toml"]
outputs = ["dist/homely_mqtt-*.tar.gz", "dist/homely_mqtt-*.whl"]

[tasks.release-build]
depends = ["python:release-build"]
description = "Build the project"
sources = ["homely_mqtt/**/*.py", "ibidem/**/*.py", "src/**/*.py", "uv.lock", "pyproject.toml"]
outputs = ["dist/homely_mqtt-*.tar.gz", "dist/homely_mqtt-*.whl"]

