---
apiVersion: suffiks.com/v1
kind: Application
metadata:
  name: homely-mqtt
  namespace: default
  labels:
    app: homely-mqtt
spec:
  image: "{{ environ('IMAGE') }}:{{ environ('VERSION') }}"
  port: 3000
  envFrom:
    - configmap: homely-mqtt-config
    - secret: homely-mqtt
