---
apiVersion: yakup.ibidem.no/v1
kind: Application
metadata:
  name: homely-mqtt
  namespace: default
  labels:
    app: homely-mqtt
spec:
  image: "{{ environ('IMAGE') }}:{{ environ('VERSION') }}"
  ports:
    http:
      port: 3000
  envFrom:
    - configMap: homely-mqtt-config
    - secret: homely-mqtt
